# Python
*.pyc
__pycache__/
instance/
*.pyo
*.pyd

# Flask
env/
venv/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Credentials
.credentials.json

# Logs
*.log
*.log.*

# Misc
.DS_Store
